<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body style='text-align: center'>

<%
  cur_user_email = session[:user_id] && $users.find(_id: session[:user_id]).first['email'] rescue false
%>
<header>
  <a href="/">home</a>
  <% if cur_user_email %>
    <a href="/me">me (<%=cur_user_email%>)</a> | <a href="signout">sign out </a> 
  <% else %>
    <a href="signup">sign up </a>
  <% end %>
</header>

<%= yield %>

<footer>  
</footer>

</body>
</html>
