<%
  user   = $users.find(_id: session[:user_id]).first
  fields = [:email] + PUBLIC_USER_FIELDS
%>

<h3> Editing me (<%=user['name'] || user['email']%>)</h3>

<style>
  .me_field {
    display: block;
    margin-bottom: 10px;
  }
  .me_field label {
    font-weight: bold;
  }

</style>
<form action='/me' method='post'>  
  <% fields.each do |field| %>
    <div class='me_field'>
      <label> <%= field %> </label><input name='<%=field%>' value='<%=user[field]%>'>   
    </div>
  <% end %>
  <button> submit </button>
</form>